
<div class="custom-font">


	<h2 class="cool-font-big text-center">Drinking from the Firehose</h2>

	<% @pics.each do |pic| %>
		<div class="boxy offset1 span3">
			<h2>
				Hour <%= pic.hour %> 
			</h2>

			<p>
				<%= pic.emotion %>
			</p>

			<p>
				I learned that 
					<%= pic.learned %>
		</p>

		</div>

	<% end %>

</div>
